<div
  class="wrapper"
  (mousemove)="onDrag($event)"
  (mousedown)="onHold()"
  (mouseup)="onRelease()"
>
  <h1 class="title">
    Hold and drag your mouse to move the cube
    <hr />
    <div class="selector-wrapper">
      <span>Wants Another Color:</span>
      <button class="button red-button" (click)="changeColor('red')">
        Red
      </button>
      <button class="button aqua-button" (click)="changeColor('aqua')">
        Aqua
      </button>
      <button class="button blue-button" (click)="changeColor('blue')">
        Blue
      </button>
    </div>
  </h1>
  <div
    class="cube"
    [ngStyle]="{
      transform: 'rotateX(' + xRotate + 'deg) rotateY(' + yRotate + 'deg)'
    }"
  >
    <div>
      <div class="lid" [ngClass]="[cubeColor]">
        <h1>Try changing my color!</h1>
      </div>
      <span style="--i: 0" [ngClass]="[cubeColor]">
        <h1>Hello!</h1>
      </span>
      <span style="--i: 1" [ngClass]="[cubeColor]">
        <h1>I am a 3d object</h1>
      </span>
      <span style="--i: 2" [ngClass]="[cubeColor]">
        <h1>I was made using only CSS</h1>
      </span>
      <span style="--i: 3" [ngClass]="[cubeColor]"
        ><h1>And Animated using typescript</h1>
      </span>
      <div class="floor" [ngClass]="[cubeColor]"></div>
    </div>
  </div>
</div>
